<div class="fab-container">
  <button mat-fab color="primary" (click)="onSave()">
    <mat-icon aria-hidden="false" aria-label="Save">save</mat-icon>
  </button>

  <mat-card *ngIf="user">
    <mat-card-content>
      <div class="example-container">
        <mat-form-field>
          <input matInput [(ngModel)]="user.username" [readonly]="!add" placeholder="Username">
        </mat-form-field>
        <mat-form-field *ngIf="add">
          <input matInput  type="password" [(ngModel)]="password" placeholder="Password">
        </mat-form-field>
        <mat-form-field *ngIf="add">
          <input matInput  type="password" [(ngModel)]="passwordRepeat" placeholder="Repeat Password">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="user.name" placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="user.email" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="user.phoneNumber" placeholder="Phone Number">
        </mat-form-field>
        <mat-form-field>
          <mat-select multiple placeholder="Roles" [compareWith]="trackRole" [(ngModel)]="user.roles" name="role">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{role.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

</div>
