<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>IDentity Demo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <button *ngIf="isLoggedIn" mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <a class="nav-link text-dark" [routerLink]='["/players"]'>Players</a>
          <a class="nav-link text-dark" [routerLink]='["/teams"]'>Teams</a>
          <button  mat-menu-item [matMenuTriggerFor]="settings">Settings</button>
        </mat-menu>
        <mat-menu #settings="matMenu" xPosition="after">
          <a class="nav-link text-dark" [routerLink]='["/users"]'>Manage Users</a>
          <a class="nav-link text-dark" [routerLink]='["/roles"]'>Manage Roles</a>
          <a class="nav-link text-dark" [routerLink]='["/permissions"]'>Manage Permissions</a>
          <a class="nav-link text-dark" [routerLink]='["/operations"]'>Manage Operations</a>
        </mat-menu>
        <a *ngIf="isLoggedOut" class="nav-link text-dark" [routerLink]='["/signIn"]'>Sign In</a>
        <button *ngIf="isLoggedIn" class="signOutButton"  mat-fab color="primary" (click)="signOut()">
          <mat-icon aria-hidden="false" aria-label="Log In">input</mat-icon>
        </button>
      </div>
    </div>
  </nav>
</header>
